# Send all responses in utf-8
AddDefaultCharset utf-8
# Allow directory browsing
Options +Indexes

#Use url rewriting
RewriteEngine on
# Base directory for rewritng
RewriteBase /AdvancedWebDev/
# Example
RewriteRule ^tutorial/favourite-dish$ tutorial/03-standard-form.php
RewriteRule ^tutorial/person-(.*)$ tutorial/PersonResource.php?id=$1

